<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.polarsys.reqcycle.repository.data.ui.dataModelPreferencePage"
          class="org.polarsys.reqcycle.repository.data.ui.preference.pages.DataTypesPreferencePage"
          id="org.polarsys.reqcycle.repository.data.ui.typesPreferencePage"
          name="Requirement Types Preferences">
    </page>
    <page
          category="org.polarsys.reqcycle.repository.data.ui.dataModelPreferencePage"
          class="org.polarsys.reqcycle.repository.data.ui.preference.pages.ScopesPreferencePage"
          id="org.polarsys.reqcycle.repository.data.ui.scopesPreferencePage"
          name="Scopes Preferences">
    </page>
    <page
          category="org.eclipse.reqycle.core.ui.pref.reqcycle"
          class="org.polarsys.reqcycle.repository.data.ui.preference.pages.DataModelsPreferencePage"
          id="org.polarsys.reqcycle.repository.data.ui.dataModelPreferencePage"
          name="Data Models Preferences">
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.polarsys.reqcycle.repository.data.ui.handlers.UpdateMetaModelHandler"
          commandId="org.polarsys.reqcycle.repository.data.ui.commands.updateMetaModel">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
       <command
             commandId="org.polarsys.reqcycle.repository.data.ui.commands.updateMetaModel"
             style="push">
          <visibleWhen>
          <iterate
                ifEmpty="false"
                operator="and">
             <adapt
                   type="org.eclipse.emf.ecore.EObject">
                <instanceof
                      value="org.polarsys.reqcycle.repository.data.RequirementSourceConf.RequirementSource">
                </instanceof>
             </adapt>
          </iterate>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.polarsys.reqcycle.core.ui.category"
          id="org.polarsys.reqcycle.repository.data.ui.commands.updateMetaModel"
          name="Update MetaModel">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.importWizards">
    <wizard
          class="org.polarsys.reqcycle.repository.data.ui.wizard.ImportDataModel"
          id="org.polarsys.reqcycle.repository.data.ui.import.datamodel"
          name="Import Data Model">
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.polarsys.reqcycle.repository.data.ui.editors.ReqCycleEditor"
          contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
          default="true"
          extensions="reqcycle"
          icon="icons/reqcycle.png"
          id="org.polarsys.reqcycle.repository.data.ui.editor"
          name="ReqCycle Local">
    </editor>
 </extension>
 
</plugin>
