<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="org.polarsys.reqcycle.dnd.DropRequirementDelegate"
            id="org.polarsys.reqcycle.dnd.DropRequirementDelegate">
      </action>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <dragAssistant
            class="org.polarsys.reqcycle.dnd.CommonDragAdapterAssistant"
            viewerId="org.polarsys.reqcycle.repository.ui.views.requirements">
      </dragAssistant>
   </extension>

</plugin>
