<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.reqcycle.utils.inject.binding">
      <binding
            impl="org.polarsys.reqcycle.traceability.storage.sesame.storage.SesameStorageProvider"
            interface="org.polarsys.reqcycle.traceability.storage.IStorageProvider">
      </binding>
      <binding
            impl="org.polarsys.reqcycle.traceability.storage.sesame.storage.repositoryholders.SesameBinaryRepositoryHolder"
            interface="org.polarsys.reqcycle.traceability.storage.sesame.storage.repositoryholders.SesameBinaryRepositoryHolder">
      </binding>
      <binding
                  impl="org.polarsys.reqcycle.traceability.storage.sesame.storage.repositoryholders.SesameXMLRepositoryHolder"
            interface="org.polarsys.reqcycle.traceability.storage.sesame.storage.repositoryholders.SesameXMLRepositoryHolder">
      </binding>
   </extension>
   <extension
         point="org.polarsys.reqcycle.uri.reachableHandler">
      <objectHandler
            handler="org.polarsys.reqcycle.traceability.storage.sesame.reachable.SesameHandler"
            priority="10">
      </objectHandler>
      <reachableHandler
            handler="org.polarsys.reqcycle.traceability.storage.sesame.reachable.SesameHandler">
      </reachableHandler>
   </extension>
   <extension
         point="org.polarsys.reqcycle.traceability.builder.traceabilityAnalyser">
      <Analyser
            label="RDF Traceability"
            visitor="org.polarsys.reqcycle.traceability.storage.sesame.reachable.TraceabilityVisitor">
      </Analyser>
   </extension>

</plugin>
