<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="operation" name="Operation" schema="schema/operation.exsd"/>
   <extension
         point="org.polarsys.reqcycle.utils.inject.binding">
      <binding
            impl="org.polarsys.reqcycle.operations.impl.ReqCycleOperationManager"
            interface="org.polarsys.reqcycle.operations.IReqCycleOperationManager">
      </binding>
   </extension>

</plugin>
