<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated ReachableLink -->
      <factory
            uri="http://www.polarsys.org/reqcycle/1.0/tracea"
            class="org.polarsys.reqcycle.traceability.emf.ReqCycleTraceability.provider.ReqCycleTraceabilityItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ReachableLink -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.polarsys.reqcycle.traceability.emf.ReqCycleTraceability.presentation.ReqCycleTraceabilityModelWizardID"
            name="%_UI_ReqCycleTraceabilityModelWizard_label"
            class="org.polarsys.reqcycle.traceability.emf.ReqCycleTraceability.presentation.ReqCycleTraceabilityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ReqCycleTraceabilityModelFile.gif">
         <description>%_UI_ReqCycleTraceabilityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ReachableLink -->
      <editor
            id="org.polarsys.reqcycle.traceability.emf.ReqCycleTraceability.presentation.ReqCycleTraceabilityEditorID"
            name="%_UI_ReqCycleTraceabilityEditor_label"
            icon="icons/full/obj16/ReqCycleTraceabilityModelFile.gif"
            extensions="reqcycletraceability"
            class="org.polarsys.reqcycle.traceability.emf.ReqCycleTraceability.presentation.ReqCycleTraceabilityEditor"
            contributorClass="org.polarsys.reqcycle.traceability.emf.ReqCycleTraceability.presentation.ReqCycleTraceabilityActionBarContributor">
      </editor>
   </extension>

</plugin>
