<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated ssh -->
      <factory
            uri="http://www.polarsys.org/reqcycle/0.1/ssh"
            class="org.polarsys.kitalpha.doc.doc2model.spreadsheet.spreadsheet.provider.SpreadsheetItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ssh -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.polarsys.kitalpha.doc.doc2model.spreadsheet.spreadsheet.presentation.SpreadsheetModelWizardID"
            name="%_UI_SpreadsheetModelWizard_label"
            class="org.polarsys.kitalpha.doc.doc2model.spreadsheet.spreadsheet.presentation.SpreadsheetModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SpreadsheetModelFile.gif">
         <description>%_UI_SpreadsheetModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ssh -->
      <editor
            id="org.polarsys.kitalpha.doc.doc2model.spreadsheet.spreadsheet.presentation.SpreadsheetEditorID"
            name="%_UI_SpreadsheetEditor_label"
            icon="icons/full/obj16/SpreadsheetModelFile.gif"
            extensions="ssh"
            class="org.polarsys.kitalpha.doc.doc2model.spreadsheet.spreadsheet.presentation.SpreadsheetEditor"
            contributorClass="org.polarsys.kitalpha.doc.doc2model.spreadsheet.spreadsheet.presentation.SpreadsheetActionBarContributor">
      </editor>
   </extension>

</plugin>
