<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.polarsys.reqcycle"
            class="org.polarsys.reqcycle.repository.ui.views.RequirementSourcesView"
            icon="icons/repositories.gif"
            id="org.polarsys.reqcycle.repository.ui.views.sources"
            name="%view.name">
      </view>
      <category
            id="org.polarsys.reqcycle"
            name="%category.name">
      </category>
      <view
            allowMultiple="true"
            category="org.polarsys.reqcycle"
            class="org.polarsys.reqcycle.repository.ui.views.RequirementView"
            icon="icons/open.png"
            id="org.polarsys.reqcycle.repository.ui.views.requirements"
            name="Requirements"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.polarsys.reqcycle"
            class="org.polarsys.reqcycle.repository.ui.views.RequirementScopeView"
            icon="icons/open.png"
            id="org.polarsys.reqcycle.repository.ui.views.requirement.scope"
            name="Requirement Scope"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.polarsys.reqcycle"
            class="org.polarsys.reqcycle.repository.ui.views.ImpactView"
            icon="icons/open.png"
            id="org.polarsys.reqcycle.repository.ui.views.impact"
            name="Impact Analysis"
            restorable="true">
      </view>
   </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           class="org.polarsys.reqcycle.repository.ui.wizard.NewRequirementSourceWizard"
           id="org.polarsys.reqcycle.repository.NewRequirementSourceWizard"
           name="Create New Requirement Source">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           contentProvider="org.polarsys.reqcycle.repository.ui.providers.ParentBeanContentProvider"
           id="org.polarsys.reqcycle.repository.ui.requirementNavigatorContent"
           labelProvider="org.polarsys.reqcycle.repository.ui.providers.ParentBeanLabelProvider"
           name="RequirementNavigatorContent"
           priority="normal">
        <triggerPoints>
           <instanceof
                 value="org.polarsys.reqcycle.repository.ui.navigator.NavigatorRoot">
           </instanceof></triggerPoints>
     </navigatorContent>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewer
           viewerId="org.polarsys.reqcycle.repository.ui.views.requirements">
     </viewer>
     <viewerContentBinding
           viewerId="org.polarsys.reqcycle.repository.ui.views.requirements">
        <includes>
           <contentExtension
                 isRoot="true"
                 pattern="org.polarsys.reqcycle.repository.ui.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <!--<menuContribution
           allPopups="false"
           locationURI="toolbar:org.polarsys.reqcycle.repository.ui.views.requirements">
        <command
              commandId="org.eclipse.ui.newWizard"
              icon="icons/delete.gif"
              label="Select Requirement Sources"
              style="push"
              tooltip="Select requirement sources to filter">
        </command>
     </menuContribution>-->
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.polarsys.reqcycle.repository.ui.views.requirements">
        <command
              commandId="org.polarsys.reqcycle.repository.ui.actions.SelectPredicatesFiltersHandler"
              icon="icons/editFilterList.png"
              label="Select Predicates Filters"
              style="push"
              tooltip="Select predicates to use for filtering">
        </command>
        <command
              commandId="org.polarsys.reqcycle.repository.ui.actions.OrderByPredicatesHandler"
              icon="icons/class_hi.gif"
              label="Order requirements by Predicates"
              style="push"
              tooltip="Order requirements by Predicates">
        </command>
        <command
              commandId="org.polarsys.reqcycle.repository.ui.actions.OrderByScopesHandler"
              icon="icons/types.gif"
              label="Order by Scopes"
              style="push"
              tooltip="Order by Scopes">
        </command>
        <command
              commandId="org.polarsys.reqcycle.repository.ui.actions.SuppressFilterHandler"
              icon="icons/term_restart-1.gif"
              label="Suppress filters"
              style="push"
              tooltip="Suppress filters">
        </command>
        <command
              commandId="org.polarsys.reqcycle.repository.ui.actions.SelectRequirementSourcesHandler"
              icon="icons/editRepoList.png"
              label="Select Requirement Sources"
              style="push"
              tooltip="Select requirement sources to filter">
        </command>
        <command
              commandId="org.polarsys.reqcycle.repository.ui.actions.NewInstanceHandler"
              icon="icons/newView.gif"
              label="New Instance"
              style="push">
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.polarsys.reqcycle.repository.ui.actions.SelectPredicatesFiltersHandler"
           id="org.polarsys.reqcycle.repository.ui.actions.SelectPredicatesFiltersHandler"
           name="Select Predicates Filters">
     </command>
     <command
           defaultHandler="org.polarsys.reqcycle.repository.ui.actions.OrderByPredicatesHandler"
           id="org.polarsys.reqcycle.repository.ui.actions.OrderByPredicatesHandler"
           name="Order requirements by Predicates">
     </command>
     <command
           defaultHandler="org.polarsys.reqcycle.repository.ui.actions.OrderByScopesHandler"
           id="org.polarsys.reqcycle.repository.ui.actions.OrderByScopesHandler"
           name="Order by Scopes">
     </command>
     <command
           defaultHandler="org.polarsys.reqcycle.repository.ui.actions.SuppressFilterHandler"
           id="org.polarsys.reqcycle.repository.ui.actions.SuppressFilterHandler"
           name="Suppress Filters">
     </command>
     <command
           defaultHandler="org.polarsys.reqcycle.repository.ui.actions.SelectRequirementSourcesHandler"
           id="org.polarsys.reqcycle.repository.ui.actions.SelectRequirementSourcesHandler"
           name="Select Requirement Sources">
     </command>
     <command
           defaultHandler="org.polarsys.reqcycle.repository.ui.actions.NewInstanceHandler"
           id="org.polarsys.reqcycle.repository.ui.actions.NewInstanceHandler"
           name="New Instance">
     </command>
  </extension>
  <!--<extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.polarsys.reqcycle.repository.ui.toolbar.RequirementPerspective"
           id="org.polarsys.reqcycle.repository.ui.toolbar.requirementPerspective"
           name="Requirement Perspective">
     </perspective>
  </extension>-->
</plugin>
