<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.polarsys.reqcycle.traceability.ui">
      </category>
      <view
            allowMultiple="false"
            category="org.polarsys.reqcycle.traceability.ui"
            class="org.polarsys.reqcycle.traceability.ui.views.TraceabilityViewer"
            icon="icons/path.gif"
            id="org.polarsys.reqcycle.traceability.ui.views.TraceabilityViewer"
            name="%view.name">
      </view>
      <view
            category="org.polarsys.reqcycle.traceability.ui"
            class="org.polarsys.reqcycle.traceability.ui.views.TraceabilityCreator"
            icon="icons/synced-1.gif"
            id="org.polarsys.reqcycle.traceability.ui.views.TraceabilityCreator"
            name="%view.name.0"
            restorable="true">
      </view>
      <!--<view
            class="org.polarsys.reqcycle.traceability.ui.views.TraceabilityViewer"
            id="org.polarsys.reqcycle.traceability.ui.views.TraceabilityViewer"
            name="Traceability">
      </view>-->
   </extension>
   <extension
         point="org.polarsys.reqcycle.utils.inject.binding">
      <binding
            impl="org.polarsys.reqcycle.traceability.ui.services.impl.LocateService"
            interface="org.polarsys.reqcycle.traceability.ui.services.ILocateService">
      </binding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.polarsys.reqcycle.core.ui.menu">
         <separator
               name="org.polarsys.reqcycle.traceability.ui.menu.start"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.polarsys.reqcycle.core.ui.menu?after=org.polarsys.reqcycle.traceability.ui.menu.start">
         <command
               commandId="org.polarsys.reqcycle.traceability.ui.OpenTraceabilityViewer"
               icon="icons/path.gif"
               label="%command.label"
               style="push">
         </command>
         <command
               commandId="org.polarsys.reqcycle.traceability.ui.OpenTraceabilityCreator"
               icon="icons/synced-1.gif"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.reqcycle.traceability.ui.handlers.OpenTraceabilityViewer"
            commandId="org.polarsys.reqcycle.traceability.ui.OpenTraceabilityViewer">
      </handler>
      <handler
            class="org.polarsys.reqcycle.traceability.ui.handlers.OpenTraceabilityCreator"
            commandId="org.polarsys.reqcycle.traceability.ui.OpenTraceabilityCreator">
      </handler>
   </extension>

</plugin>
