<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="stylingpic" name="Styling Picture" schema="schema/stylingpic.exsd"/>
   
<extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           appearsBefore="org.polarsys.reqcycle.repository.ui.requirementNavigatorContent"
           contentProvider="org.polarsys.reqcycle.styling.ui.providers.StylingContentProvider"
           id="org.polarsys.reqcycle.repository.ui.styleNavigatorContent"
           labelProvider="org.polarsys.reqcycle.styling.ui.providers.StylingLabelProvider"
           name="StyleNavigatorContent"
           priority="high">
        <triggerPoints>
           <or>
              <instanceof
                    value="org.polarsys.reqcycle.repository.ui.navigator.NavigatorRoot">
              </instanceof>
              <instanceof
                    value="java.lang.String">
              </instanceof>
           </or>
        </triggerPoints>
        <override
              policy="InvokeOnlyIfSuppressedExtAlsoVisibleAndActive"
              suppressedExtensionId="org.polarsys.reqcycle.repository.ui.requirementNavigatorContent">
        </override>
        <dropAssistant
              class="org.polarsys.reqcycle.styling.ui.dnd.ReqDropAdapterAssistant"
              id="org.polarsys.reqcycle.repository.ui.dropAssistant.dnd">
           <possibleDropTargets>
              <or>
                 <instanceof
                       value="org.polarsys.reqcycle.repository.data.RequirementSourceData.Requirement">
                 </instanceof>
                 <instanceof
                       value="java.lang.Object">
                 </instanceof>
              </or></possibleDropTargets>
        </dropAssistant>
        <possibleChildren>
           <or>
              <adapt
                    type="org.polarsys.reqcycle.uri.model.Reachable">
              </adapt>
           </or>
        </possibleChildren>
     </navigatorContent>
  </extension>
<extension
        point="org.eclipse.ui.menus">
     <!--<menuContribution
           allPopups="false"
           locationURI="toolbar:org.polarsys.reqcycle.repository.ui.views.requirements">
        <command
              commandId="org.eclipse.ui.newWizard"
              icon="icons/delete.gif"
              label="Select Requirement Sources"
              style="push"
              tooltip="Select requirement sources to filter">
        </command>
     </menuContribution>-->
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.polarsys.reqcycle.repository.ui.views.requirements">
        <command
              commandId="org.polarsys.reqcycle.styling.ui.stylemodel"
              icon="icons/write_obj.gif"
              label="Change Style"
              style="push"
              tooltip="Select style configuration">
        </command>
     </menuContribution>
  </extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         defaultHandler="org.polarsys.reqcycle.styling.ui.handler.StyleModelChooserHandler"
         id="org.polarsys.reqcycle.styling.ui.stylemodel"
         name="Choose Display">
   </command>
</extension>
<extension
      point="org.polarsys.reqcycle.styling.ui.stylingpic">
   <Picture
         path="regIcons/add_obj.gif">
   </Picture>
   <Picture
         path="regIcons/alert_obj.gif">
   </Picture>
   <Picture
         path="regIcons/annotation_obj.gif">
   </Picture>
   <Picture
         path="regIcons/bkmrk_nav.gif">
   </Picture>
   <Picture
         path="regIcons/conflict_synch-2.gif">
   </Picture>
   <Picture
         path="regIcons/console_view-1.gif">
   </Picture>
   <Picture
         path="regIcons/contended_monitor_obj.gif">
   </Picture>
   <Picture
         path="regIcons/checkedout_ov.gif">
   </Picture>
   <Picture
         path="regIcons/contents_view.gif">
   </Picture>
   <Picture
         path="regIcons/copy.gif">
   </Picture>
   <Picture
         path="regIcons/cprj_obj.gif">
   </Picture>
   <Picture
         path="regIcons/deadlock_view-1.gif">
   </Picture>
   <Picture
         path="regIcons/debugtt_obj.gif">
   </Picture>
   <Picture
         path="regIcons/delete_obj.gif">
   </Picture>
   <Picture
         path="regIcons/editor.gif">
   </Picture>
   <Picture
         path="regIcons/error.gif">
   </Picture>
   <Picture
         path="regIcons/importdir_wiz-1.gif">
   </Picture>
   <Picture
         path="regIcons/installed_ovr.gif">
   </Picture>
   <Picture
         path="regIcons/quickfix_error_obj.gif">
   </Picture>
   <Picture
         path="regIcons/remove_correction.gif">
   </Picture>
   <Picture
         path="regIcons/set_pref.png">
   </Picture>
   <Picture
         path="regIcons/smartmode_co-1.gif">
   </Picture>
   <Picture
         path="regIcons/statusGreen.png">
   </Picture>
   <Picture
         path="regIcons/statusGrey.png">
   </Picture>
   <Picture
         path="regIcons/statusRed.png">
   </Picture>
   <Picture
         path="regIcons/statusYellow.png">
   </Picture>
   <Picture
         path="regIcons/clear.gif">
   </Picture>
   <Picture
         path="regIcons/trash-1.gif">
   </Picture>
</extension>
<extension
       point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
          class="org.polarsys.reqcycle.styling.ui.providers.ItemAdapterFactory"
          uri="http://www.polarsys.org/ReqCycle/RequirementSourceConf"
          supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
    </factory>
    <factory
          class="org.polarsys.reqcycle.styling.ui.providers.ItemAdapterFactory"
          uri="http://www.polarsys.org/ReqCycle/RequirementSourceData"
          supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
    </factory>
    <factory
          class="org.polarsys.reqcycle.styling.ui.providers.ItemAdapterFactory"
          uri="http://www.polarsys.org/ReqCycle/ScopeConf"
          supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
    </factory>
 </extension>
</plugin>
