<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension
         point="org.polarsys.reqcycle.utils.inject.binding">
      <binding
            impl="org.polarsys.reqcycle.repository.data.impl.DataManagerImpl"
            interface="org.polarsys.reqcycle.repository.data.IDataManager">
      </binding>
      <binding
            impl="org.polarsys.reqcycle.repository.data.impl.DataModelManagerImpl"
            interface="org.polarsys.reqcycle.repository.data.IDataModelManager">
      </binding>
   </extension>
   <extension
         point="org.polarsys.reqcycle.types.types">
      <type
            checker="org.polarsys.reqcycle.repository.data.types.ReqcycleTypeChecker"
            icon="icons/reqcycle.png"
            id="org.polarsys.reqcycle.repository.data.type1"
            label="Requirement">
      </type>
   </extension>
   <extension
         point="org.polarsys.reqcycle.uri.reachableHandler">
      <objectHandler
            handler="org.polarsys.reqcycle.repository.data.reachables.ReqcycleReachableHandler"
            priority="10">
      </objectHandler>
      <reachableHandler
            handler="org.polarsys.reqcycle.repository.data.reachables.ReqcycleReachableHandler"
            priority="10">
      </reachableHandler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.polarsys.reqcycle.repository.data.types.IDataModel"
            class="org.polarsys.reqcycle.repository.data.util.DataTypesAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
      <factory
            adaptableType="org.polarsys.reqcycle.repository.data.ScopeConf.Scope"
            class="org.polarsys.reqcycle.repository.data.util.DataTypesAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
      <factory
            adaptableType="org.polarsys.reqcycle.repository.data.types.IRequirementType"
            class="org.polarsys.reqcycle.repository.data.util.DataTypesAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
      </factory>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MappingModel -->
      <package
            uri="http://www.polarsys.org/ReqCycle/MappingModel"
            class="org.polarsys.reqcycle.repository.data.MappingModel.MappingModelPackage"
            genModel="model/MappingModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RequirementSourceConf -->
      <package
            uri="http://www.polarsys.org/ReqCycle/RequirementSourceConf"
            class="org.polarsys.reqcycle.repository.data.RequirementSourceConf.RequirementSourceConfPackage"
            genModel="model/RequirementSourceConf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated RequirementSourceConf -->
      <parser
            type="requirementsourceconf"
            class="org.polarsys.reqcycle.repository.data.RequirementSourceConf.util.RequirementSourceConfResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RequirementSourceData -->
      <package
            uri="http://www.polarsys.org/ReqCycle/RequirementSourceData"
            class="org.polarsys.reqcycle.repository.data.RequirementSourceData.RequirementSourceDataPackage"
            genModel="model/RequirementSourceData.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated RequirementSourceData -->
      <parser
            type="requirementsourcedata"
            class="org.polarsys.reqcycle.repository.data.RequirementSourceData.util.RequirementSourceDataResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ScopeConf -->
      <package
            uri="http://www.polarsys.org/ReqCycle/ScopeConf"
            class="org.polarsys.reqcycle.repository.data.ScopeConf.ScopeConfPackage"
            genModel="model/ScopeConf.genmodel"/>
   </extension>

   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="reqcycle"
            class="org.polarsys.reqcycle.repository.data.RequirementSourceData.util.RequirementSourceDataResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.polarsys.reqcycle.uri.reachableExtender">
      <Extender
            instance="org.polarsys.reqcycle.repository.data.reachables.ReqCycleReachableExtender">
      </Extender>
   </extension>
</plugin>
