<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.reqcycle.repository.connector.connectorCore">
      <connectorCore
            class="org.polarsys.reqcycle.repository.connector.document.ocl.DocOclConnector"
            icon="icons/toc_open.gif"
            id="org.polarsys.reqcycle.repository.connector.document.ocl.DocOclConnector"
            name="Document (using .ocl files)">
      </connectorCore>
   </extension>

</plugin>
