<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="IUserInterface" name="%extension-point.name" schema="schema/interface.exsd"/>
   <extension-point id="IParsingFacility" name="%extension-point.name.0" schema="schema/IParsingFacility.exsd"/>
   <extension-point id="IContentHandler" name="%extension-point.name.1" schema="schema/IContentHandler.exsd"/>

</plugin>
